////
/// Header
////

header {
  max-width: 100vw;
}

.region-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  max-width: $global-width;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint(large) {
    padding: 0;
  }
}

.site-name {
  max-width: rem-calc(227);
  min-width: rem-calc(227);
  margin: rem-calc(22 0);
  a {
    display: block;
    //background-image: url(img-get('wcet-san-logo-black.png'));
    background-image: url(img-get('/logo-typeonly-green.png'));
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    margin: 0;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 20%;
  }
}

.block-system-branding-block {

}