.node__content > .paragraph:not(
.paragraph--type--banner-featured-header,
.paragraph--type--layout-component-group
) {
  max-width: $global-width;
  margin: 0 auto;
}

.paragraph--type--banner-featured-header {
  @include content-width(featured-header);
}

/// Main Content Area
/// =================
.field--name-field-p-components {
  .paragraph--type--single-text-area {
    font-size: $large-font-size;
    color: $font-gray;
    padding: $medium-margin;
    text-align: center;
    line-height: rem-calc(32);
    @include breakpoint(medium-large) {
      padding: $medium-margin $xtra-large-margin;
    }
  }
}
