/// Layout - Component group
/// ======================
.paragraph--type--layout-component-group {
  position: relative;
  z-index: 10;
  text-align: center;
  color: $font-gray;
  max-width: 1200px;
  @include left-right(margin, auto);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 500%;
    height: 100%;
    background: $tan;
    z-index: z(behind);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: url(../images/map-texture.png);
    z-index: z(behind);
    opacity: 0.15;
  }

  > .heading,
  > .field--name-field-text-area {
    @include content-width(content);
  }

  > .heading {
    color: $dark-orange;
    font-size: 32px;
    font-weight: normal;

    &:first-child {
      padding-top: 80px;
    }
  }

  > .field--name-field-text-area {
    font-size: 24px;
    line-height: 1.333;

    &:first-child {
      padding-top: 80px;
    }

    @include selectors(body-text) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .field--name-field-p-columns {
    @include breakpoint(medium) {
      display: flex;

      > * {
        display: flex;
        flex: 1;
        width: 0;

        > .paragraph {
          flex: 1;
        }
      }
    }
  }
}
