//*********************************************
// Reference - block
//*********************************************

.paragraph--type--reference-block {
  background: #fff;
  
  &[class^="color-scheme--"] {
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 500%;
      height: 100%;
      z-index: -1;

      .field__item:last-child & {
        left: 0;
      }
    }
  }
}