////
/// Paragraphs - Simple
////

/// Simple - Testimonial
/// ====================
.paragraph--type--simple-testimonial {
  background-color: $dark-orange;
  text-align: center;
  color: $white;
  position: relative;
  z-index: z(middle);
  padding: $medium-large-margin $small-margin;

  @include breakpoint(medium) {
    padding: $medium-large-margin $xtra-large-margin;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 500%;
    height: calc(100% + 40px);
    background-color: $dark-orange;
    z-index: z(behind);
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 150%;
    background: url(../images/svg/MountainBadge.svg);
    z-index: 0;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    @include breakpoint(medium) {
      top: 43%;
    }
  }
  .field--name-field-quote {
    position: relative;
    font-size: $large-font-size;
    font-family: $font-special-elite;
    z-index: z(front);
    padding: 0;
  }
  .field--name-field-credit {
    position: relative;
    font-size: $main-font-size;
    font-family: $font-cabin;
    z-index: z(front);
  }
}

/// Simple - Content
/// ====================
.paragraph--type--simple-content {
  color: $font-gray;

  .heading {
    color: $dark-orange;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
  }

  .field--name-field-svg {
    max-width: 110px;
    @include left-right(margin, auto);
    margin-bottom: 25px;

    & ~ * {
      text-align: center;
    }
  }

  &[class^="color-scheme--"] {
    position: relative;
    z-index: 1;


    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 500%;
      height: 100%;
      z-index: -1;

      .field__item:last-child & {
        left: 0;
      }
    }
  }

  &.color-scheme--orange {
    color: #fff;

    &:after {
      background: $dark-orange;
    }

    .heading {
      color: #fff;
    }
  }

  &.color-scheme--green {
    color: #fff;

    &:after {
      background: $green;
    }

    .heading {
      color: #fff;
    }
  }

  .paragraph--type--layout-component-group & {
    $padding: px-to-percent(75px, 500px);
    padding: $padding;

    .field--name-field-cta a {
      @include btn(gray);
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
