////
/// Component - Blocks
////

// Page Title display
#block-themekit-page-title {
  .page-node-type-blog &, .page-node-type-sponsor & {
    width: 100%;
    margin: 25px 0 50px;
    padding: 50px 0;
    background: url(../images/mountain-banner.png);
    color: $font-gray;
    font-family: $font-cabin;
    text-align: center;
    @include breakpoint(medium) {
      margin: 25px 0 100px;
      padding: 135px 0;
    }
    .date {
      font-size: rem-calc(18px);
      font-family: $font-arvo;
      color: $dark-orange;
    }
  }
}

// Blog Post Listings
.block-views-blockblog-post-listings-block-1,
.block-views-blockblog-post-listings-block-2 {
  padding: $medium-large-margin $medium-margin;
  background-color: $white;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background-color: $white;
    z-index: -1;
  }
  @include breakpoint(medium) {
    padding: $medium-large-margin $large-margin;
  }
  > h2 {
    margin-bottom: 35px;
    font-family: $font-arvo;
    font-size: rem-calc(20);
    line-height: rem-calc(28);
    text-transform: uppercase;
    text-align: center;
    color: $dark-orange;
  }
  .more-link {
    text-align: center;
    font-size: rem-calc(24px);
    a {
      color: $font-gray;
      @include selectors(active) {
        color: rgba($font-gray, 0.7);
      }
      &:after {
        content: '\00bb';
        margin-left: 10px;
      }
    }
  }
}
