.view-session-schedule {
  padding: 25px;

  .schedule-menu {
    display: flex;
    justify-content: center;
    margin: 0 0 50px;
    list-style-type: none;

    li {
      margin: 5px;

      a {
        @include btn(dark-orange, large);

        @include selectors(active) {
          text-decoration: none;
        }
      }
    }
  }

  .views-exposed-form {
    margin: 25px 0;

    .form--inline {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .form-item {
        @include top-bottom(margin, 0);
      }

      .form-actions {
        margin: 0;
      }

      select {
        margin-bottom: 0;

        @include breakpoint(commerce-md) {
          min-width: 300px;
        }
      }

      input[type=submit] {
        @include btn(dark-orange);
        min-height: 40px;
      }
    }
  }

  .view-grouping-header {
    border-bottom: 2px solid $dark-orange;
    margin-bottom: 15px;
  }

  .view-grouping-content {
    display: flex;
    flex-wrap: wrap;

    .views-field {
      margin-bottom: 35px;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      padding: 10px;
      font-size: 1rem;
      background: $dark-gray;
      color: $white;

      @include breakpoint(medium) {
        width: 24%;
        padding: 0;
        margin-top: 5px;
        margin-right: 1%;
        font-size: 1.25rem;
        color: $black;
        background: transparent;
      }
    }

    > ul {
      flex: 75%;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
