////
/// Framework - Links
/// @group frameworkComponents
////

$links: (
  default: (
    color: navy,
    active-color: skyblue
  )
) !default;

/// Standard link style mixin
/// @param {String} $link-key - the key in the $buttons map to use from config
/// @example
///   @include link(inline)
@mixin link($link-key: default) {
  $link-conf: extend-in-map($links, $link-key);

  color: key($link-conf, color);

  line-height: 1.1em;
  position: relative;
  transition: .3s ease-out transform, .4s ease color;

  &:after {
    content: '';
    position: absolute;
    bottom: -0.3em;
    left: 0;
    width: 100%;
    height: 1px;
    background: key($link-conf, color);
    transform: scaleX(0);
    transition: .2s ease-out transform;
  }
  @include selectors(active) {
    &:after {
      transform: scaleX(1);
    }
  }

  @include selectors(active) {
    text-decoration: none;
  }
}