////
/// Typography
/// @group frameworkComponents
////

/// Font VW Max - Converts a max size at a breakpoint to a VW that scales up to that max size
/// @param {Number} $size - The target max size in px
/// @param {String} $breakpoint [large] - The key of the bp at which max size is reached, or a specific value (ie - 1000px)
/// @param {Map} $breakpoint-map [$breakpoints] - A breakpoint map
/// @example
///   @include font-vw-max(20px, large)
@mixin font-vw-max($size, $breakpoint: large, $breakpoint-map: $breakpoints) {
  @include vw-with-max($size, $breakpoint: large, $breakpoint-map: $breakpoints, $property: font-size)
}

/// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Arvo:700|Cabin:400,700|Special+Elite');

$header-sizes: (
  small: (
    'h1': 28,
    'h2': 23,
    'h3': 20,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 44,
    'h2': 36,
    'h3': 24,
    'h4': 21,
    'h5': 18,
    'h6': 16,
  ),
) !default;

/// Apply the responsive font size of the specified heading level.
@mixin apply-heading($hlevel: 3, $h-sizes: $header-sizes) {
  // Heading sizes
  @each $size, $headers in $h-sizes {
    @include breakpoint($size) {
      $font-size: key($h-sizes, $size, h#{$hlevel});
      font-size: rem-calc($font-size);
    }
  }
}