.node--view-mode-schedule {

  &.node--type-session {
    
    .field--name-body {
      margin-bottom: 15px;
      
      p {
        display: inline;
      }
      
      .more-link {
        display: inline;
        margin-left: 5px;
      }
    }
    
    .details {
      @include tk-flex-block-grid(2, '.field');

      @include breakpoint(commerce-md) {
        @include tk-flex-block-grid(4, '.field');
      }
    }
  }
}