.node--view-mode-schedule {

  &.node--type-session {
    
    .field--name-body {
      margin-bottom: 15px;
      
      p {
        display: inline;
      }
      
      .more-link {
        display: inline;
        margin-left: 5px;
      }
    }
    
    .details {
      display: flex;

      > div {
        margin-right: 50px;
      }
    }
  }
}